# OS
.DS_Store
Thumbs.db

# Python / notebooks
__pycache__/
.ipynb_checkpoints/

# Node
node_modules/

# Env / secrets
.env
*.pem
*.ppk

# Archives
*.zip
*.tar
*.tar.gz

# IDEs
.vscode/
.idea/
*.code-workspace